.hidden-input--parent {
  position: relative;
}

.hidden-input--parent input:is([type="checkbox"], [type="radio"]) {
  position: absolute;
  opacity: 0;
}

[aria-label="required"] {
  color: #ffb4ab;
}
