:root {
  --background: #15130b;
  --surface: #222017;
  --surface-high: #2d2a21;
  --outline: #969080;
  --text: #e8e2d4;
  --text-secondary: #cdc6b4;
  --primary: #dbc66e;
  --on-primary: #3a3000;

  --rounded-small: 1rem;
  --rounded-card: 2rem;
  --rouneded-large: 9999px;
}

body {
  background-color: var(--background);
  color: var(--text);
}
